@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
  top: 50vh;
  left: 50vw;
  position: absolute;
  transform: translate(-50%,-50%);
  font-size: 70px; 
}

.title{
  position: absolute;
  width: 400px;
  top: 70%;
  left: 72%;
  transform: translate(-50%,-50%); 
  color: white;
  display: inline-block;
  padding: 20px 0px;
}

.backend .title{
  top: 65%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.react .title{
  top: 80%;
  left: 80%;

}